doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap-theme.css')
    
    //- link(rel='stylesheet', href='/stylesheets/style.css')
  body.container
    block content
    script(src="/jquery/dist/jquery.min.js")
    script(src="/bootstrap/dist/js/bootstrap.min.js")
